<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="me.carda.awesome_notifications">

    <!-- Samsung Badge -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <!-- Sony Badge -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />

    <!-- HTC Badge -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  
    <application>

        <receiver android:name=".notifications.broadcastReceivers.DismissedNotificationReceiver"
            android:exported="false"/>
        <receiver android:name=".notifications.broadcastReceivers.ScheduledNotificationReceiver"
            android:exported="false"/>
        <receiver android:name=".notifications.broadcastReceivers.KeepOnTopActionReceiver"
            android:exported="false"/>
        <receiver
            android:name=".notifications.broadcastReceivers.RefreshNotificationBootReceiver"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
