<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.carda.awesome_notifications.core">

    <application>

        <receiver android:name=".broadcasters.receivers.NotificationActionReceiver"
            android:exported="true"/>

        <receiver android:name=".broadcasters.receivers.DismissedNotificationReceiver"
            android:exported="true"/>

        <receiver android:name=".broadcasters.receivers.ScheduledNotificationReceiver"
            android:exported="true"/>

        <service
            android:name="me.carda.awesome_notifications.core.services.ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall"
            android:stopWithTask="true" />

    </application>

</manifest>